<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8"/>
    <meta name="description" content="Max2 drug list sorter"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>
    <h1 class="title">Drug Sorter</h1><br><br><br>

    <form class="homepage" action="/homepage" method="post" id="myForm">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="pwd">Password:</label><br>
        <input type="password" id="pwd" name="pwd"><br>
        <input type="submit" value="Login">
        <a class="create-btn" href="/register">Create Account</a>
      </form>
      
    <p>Please login</p>
</body>
</html>