<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Home</title>
    <meta charset="utf-8"/>
    <meta name="description" content="Max2 drug list sorter"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>
    <h1 class="title">Drug Sorter</h1><br><br><br>
    <nav>
        <ul>
            <li><a class="active" href="/user-home">Home</a></li>
            <li><a href="news.asp">News</a></li>
            <li><a href="contact.asp">Contact</a></li>
            <li class="logout"><a href="/">Logout</a></li>
        </ul>
    </nav>

</body>
</html>